body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 250px;
}
.header {
  display: flex;
  width: 1550px;
  height: 80px;
  border: 1px solid black;
  position: fixed;
  background-color: white;
  /* justify-content: space-between; */
}

.head {
  display: flex;
  width: 102px;
  height: 31px;
  border: 1px solid black;
  margin-left: 200px;
  margin-top: 25px;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}

.head1 {
  display: flex;
  width: 38px;
  height: 31px;
  border: 1px solid black;
  margin-left: 1081px;
  margin-top: 25px;
  justify-content: center;
  border-radius: 5px;
}

.head2 {
  width: 38px;
  height: 31px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 20px;
}

.navigation-conatiner {
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 1500px;
  position: fixed;
  width: 150px;
  z-index: 23;
}

.slcard {
  display: flex;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.slcard1 {
  display: flex;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 35px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.slcard5 {
  display: flex;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 250px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.slcard6 {
  display: flex;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.herocontent {
  display: flex;
  width: 1324px;
  height: 1700px;
  position: absolute;
  /* background: red; */
  z-index: -26;
  left: 153px;
  top: 84px;
  padding: 27px;
}
/* .head-card {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}
.herocard {
  display: flex;
  width: 180px;
  height: 80px;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  color: black;
  font-size: 70px;
} */
.head-card {
  display: flex;
  width: 96%;
  height: 100px;
  justify-content: space-between;
}
.herocard {
  display: flex;
  width: 180px;
  height: 80px;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  color: black;
  font-size: 70px;
}
.text-color {
  color: red;
}
.text-purple {
  color: purple;
}
.text-blue {
  color: blue;
}
.footcard {
  display: flex;
  width: 1304px;
  height: 600px;
  position: absolute;
  /* background: red; */
  z-index: -26;
  left: 4px;
  top: 130px;
  padding: 20px;
}
.footcardhead {
  display: flex;
  width: 100%;
  height: 100px;
  /* background: red; */
  justify-content: space-between;
}
.bigcard {
  display: flex;
  width: 610px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  color: black;
  font-size: 20px;
  /* justify-content: space-between; */
  align-items: center;
}
.chart {
  display: flex;
  width: 1300px;
  height: 300px;
  /* background: red; */
  justify-content: space-between;
  margin-top: 300px;
  /* margin-left: 50px; */
  position: absolute;
  padding: 20px;
  left: 2px;
  position: absolute;
  /* justify-content: center; */
}
.foot-chart {
  display: flex;
  width: 610px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  color: black;
  font-size: 20px;
  /* justify-content: space-between; */
  align-items: center;
}
.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
